/* Global */
body {
  background: black;
  color: white;
  font-size: 20px; 
}

/* Change Image */
.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#title {
  font-family:'Dead Kansas';
  font-size: 60px;
  color: #D39920;
  padding: 40px;
}

#gameplay {
  border: #D39920 2px solid;
  min-height: 500px;
}

/* Left */
#game-left {
}

img {
  margin: 5px;
  border: white 1px solid;
}

/* Right */
#game-right {
  border-left: rgb(211, 153, 32) 2px solid;
  padding: 20px 40px;
}

#word {
  background: rgb(255, 0, 0, .5);
  padding: 10px;
  margin-top: 20px;
}

#score {
  border: dotted 2px rgb(255, 0, 0, .5);
  padding: 10px;
  margin-top: 20px;
}

#guesses-remaining {
  padding: 10px;
  margin-top: 20px;
}

#guessed-letters-row {
  padding: 10px;
  margin-top: 20px;
  background: rgb(211, 153, 32);
}
