/* Global */
body {
  background: black;
  color: white;
  font-size: 20px; 
}

/* Change Image */
.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#title {
  font-family:'Dead Kansas';
  font-size: 60px;
  color: #D39920;
  padding: 40px;
}

#gameplay {
  border: #D39920 2px solid;
  min-height: 500px;
}

#game-left {
}

img {
  margin: 5px;
  border: white 1px solid;
}

#game-right {
  border-left: #D39920 2px solid;
  padding: 40px;
}

#word {
  background: rgb(255, 0, 0, .5);
  padding: 10px;
}
